.nav {
  grid-area: n;
  background-color:#b8ccbd;
  padding: 30px;
}
.nav a{
  color:black;
}
.item{
font-size: 25px;
margin: 30px 0 0 0;
}

.item a:hover{
 background-color: black;
 color: honeydew;
 transition: all 0.6s;
}

.item a.activeLink{
  color:white;
    background: black;
}
